%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-black-bottom-width: 20px;
$arrow-black-bottom-height: 20px;

.svg-arrow-black-bottom {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNDAwIDQwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQogICAgCQk8cG9seWdvbiBmaWxsPSIjMDAwIiBwb2ludHM9IjkzLjA1NCwyMDAgOTMuMDI3LDIwMC4wMjUgMjI3LjgxMSwzMzQuODA3IDI2Mi45NzUsMjk5LjY0MyAxNjMuMzMxLDIwMCAyNjIuOTczLDEwMC4zNTggMjI3LjgwOSw2NS4xOTMgOTMuMDI3LDE5OS45NzQgIiB0cmFuc2Zvcm09InJvdGF0ZSgtOTAgMjAwIDIwMCkiLz4NCjwvc3ZnPg==');
	width: $arrow-black-bottom-width;
	height: $arrow-black-bottom-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-black-left-25x25-width: 30px;
$arrow-black-left-25x25-height: 30px;

.svg-arrow-black-left-25x25 {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMwcHgiIGhlaWdodD0iMzBweCIgdmlld0JveD0iMCAwIDQwMCA0MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KCTxwb2x5Z29uIGZpbGw9IiNGRkYiIHBvaW50cz0iOTMuMDU0LDIwMCA5My4wMjcsMjAwLjAyNSAyMjcuODExLDMzNC44MDcgMjYyLjk3NSwyOTkuNjQzIDE2My4zMzEsMjAwIDI2Mi45NzMsMTAwLjM1OCAyMjcuODA5LDY1LjE5MyA5My4wMjcsMTk5Ljk3NCAiPjwvcG9seWdvbj4NCjwvc3ZnPg==');
	width: $arrow-black-left-25x25-width;
	height: $arrow-black-left-25x25-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-black-left-width: 55px;
$arrow-black-left-height: 55px;

.svg-arrow-black-left {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjU1cHgiIGhlaWdodD0iNTVweCIgdmlld0JveD0iMCAwIDQwMCA0MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KCTxwb2x5Z29uIGZpbGw9IiMwMDAiIHBvaW50cz0iOTMuMDU0LDIwMCA5My4wMjcsMjAwLjAyNSAyMjcuODExLDMzNC44MDcgMjYyLjk3NSwyOTkuNjQzIDE2My4zMzEsMjAwIDI2Mi45NzMsMTAwLjM1OCAyMjcuODA5LDY1LjE5MyA5My4wMjcsMTk5Ljk3NCAiPjwvcG9seWdvbj4NCjwvc3ZnPg==');
	width: $arrow-black-left-width;
	height: $arrow-black-left-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-black-right-25x25-width: 30px;
$arrow-black-right-25x25-height: 30px;

.svg-arrow-black-right-25x25 {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMwcHgiIGhlaWdodD0iMzBweCIgdmlld0JveD0iMCAwIDQwMCA0MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KCTxwb2x5Z29uIGZpbGw9IiNGRkYiIHBvaW50cz0iMzAxLjc1NSwyMDAuNDI3IDE2Ni45NzQsNjUuNjQ2IDEzMS44MSwxMDAuODExIDIzMS40NTEsMjAwLjQ1MyAxMzEuODA5LDMwMC4wOTYgMTY2Ljk3MywzMzUuMjU5IDMwMS43NTUsMjAwLjQ3OCAzMDEuNzI5LDIwMC40NTMgIiA+PC9wb2x5Z29uPg0KPC9zdmc+');
	width: $arrow-black-right-25x25-width;
	height: $arrow-black-right-25x25-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-black-right-width: 55px;
$arrow-black-right-height: 55px;

.svg-arrow-black-right {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjU1cHgiIGhlaWdodD0iNTVweCIgdmlld0JveD0iMCAwIDQwMCA0MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KCTxwb2x5Z29uIGZpbGw9IiMwMDAiIHBvaW50cz0iMzAxLjc1NSwyMDAuNDI3IDE2Ni45NzQsNjUuNjQ2IDEzMS44MSwxMDAuODExIDIzMS40NTEsMjAwLjQ1MyAxMzEuODA5LDMwMC4wOTYgMTY2Ljk3MywzMzUuMjU5IDMwMS43NTUsMjAwLjQ3OCAzMDEuNzI5LDIwMC40NTMgIj48L3BvbHlnb24+DQo8L3N2Zz4=');
	width: $arrow-black-right-width;
	height: $arrow-black-right-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-black-right_20x20-width: 20px;
$arrow-black-right_20x20-height: 20px;

.svg-arrow-black-right_20x20 {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNDAwIDQwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQogICAgCQk8cG9seWdvbiBmaWxsPSIjMDAwIiBwb2ludHM9IjkzLjA1NCwyMDAgOTMuMDI3LDIwMC4wMjUgMjI3LjgxMSwzMzQuODA3IDI2Mi45NzUsMjk5LjY0MyAxNjMuMzMxLDIwMCAyNjIuOTczLDEwMC4zNTggMjI3LjgwOSw2NS4xOTMgOTMuMDI3LDE5OS45NzQgIiB0cmFuc2Zvcm09InJvdGF0ZSgxODAgMjAwIDIwMCkiIC8+DQo8L3N2Zz4=');
	width: $arrow-black-right_20x20-width;
	height: $arrow-black-right_20x20-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-black-top-width: 20px;
$arrow-black-top-height: 20px;

.svg-arrow-black-top {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNDAwIDQwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQogICAgCQk8cG9seWdvbiBmaWxsPSIjMDAwIiBwb2ludHM9IjkzLjA1NCwyMDAgOTMuMDI3LDIwMC4wMjUgMjI3LjgxMSwzMzQuODA3IDI2Mi45NzUsMjk5LjY0MyAxNjMuMzMxLDIwMCAyNjIuOTczLDEwMC4zNTggMjI3LjgwOSw2NS4xOTMgOTMuMDI3LDE5OS45NzQgIiB0cmFuc2Zvcm09InJvdGF0ZSg5MCAyMDAgMjAwKSIgLz4NCjwvc3ZnPg==');
	width: $arrow-black-top-width;
	height: $arrow-black-top-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-circle-big-right-width: 40px;
$arrow-circle-big-right-height: 40px;

.svg-arrow-circle-big-right {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeD0iMHB4IiB5PSIwcHgiDQoJCQl3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIwIDAgNDAwIDQwMCI+DQoJCQk8ZyBjbGFzcz0iY2lyY2xlIiBmaWxsPSIjRkZGIj4NCgkJCTxjaXJjbGUgZmlsbC1vcGFjaXR5PSIxIiBjeD0iMTk5Ljc4MiIgY3k9IjIwMC40NTMiIHI9IjIwMCI+PC9jaXJjbGU+DQoJCQk8L2c+DQoJCQk8ZyBjbGFzcz0icG9seWdvbiIgZmlsbD0iIzY2NiI+DQoJCQk8cG9seWdvbiBwb2ludHM9IjMwMS43NTUsMjAwLjQyNyAxNjYuOTc0LDY1LjY0NiAxMzEuODEsMTAwLjgxMSAyMzEuNDUxLDIwMC40NTMgMTMxLjgwOSwzMDAuMDk2IDE2Ni45NzMsMzM1LjI1OSAzMDEuNzU1LDIwMC40NzggMzAxLjcyOSwyMDAuNDUzICI+PC9wb2x5Z29uPg0KCQkJPC9nPg0KPC9zdmc+DQo=');
	width: $arrow-circle-big-right-width;
	height: $arrow-circle-big-right-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-circle-down-width: 25px;
$arrow-circle-down-height: 25px;

.svg-arrow-circle-down {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjIiIHdpZHRoPSIyNXB4IiBoZWlnaHQ9IjI1cHgiIHZpZXdCb3g9IjAgMCA0MDAgNDAwIj4NCgk8Y2lyY2xlIGZpbGw9IiNFQkVCRUIiIGN4PSIyMDAiIGN5PSIyMDAiIHI9IjIwMCIvPg0KCTxwb2x5Z29uIGZpbGw9IiM2NzY3NjciIHBvaW50cz0iMjAwLDI4Ny45NDUgMjAwLjAyNSwyODcuOTc1IDMzNC44MDcsMTUzLjE5IDI5OS42NDMsMTE4LjAyNiAyMDAsMjE3LjY3IDEwMC4zNTgsMTE4LjAyOCA2NS4xOTMsMTUzLjE5MiAxOTkuOTc0LDI4Ny45NzUgIi8+DQo8L3N2Zz4=');
	width: $arrow-circle-down-width;
	height: $arrow-circle-down-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-circle-left-width: 21px;
$arrow-circle-left-height: 21px;

.svg-arrow-circle-left {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIxcHgiIGhlaWdodD0iMjFweCIgdmlld0JveD0iMCAwIDQwMCA0MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxjaXJjbGUgZmlsbD0iI0VCRUJFQiIgZmlsbC1vcGFjaXR5PSIxIiBjeD0iMjAwIiBjeT0iMjAwIiByPSIyMDAiPjwvY2lyY2xlPjxwb2x5Z29uIGZpbGw9IiM2NjYiIHBvaW50cz0iOTMuMDU0LDIwMCA5My4wMjcsMjAwLjAyNSAyMjcuODExLDMzNC44MDcgMjYyLjk3NSwyOTkuNjQzIDE2My4zMzEsMjAwIDI2Mi45NzMsMTAwLjM1OCAyMjcuODA5LDY1LjE5MyA5My4wMjcsMTk5Ljk3NCAiPjwvcG9seWdvbj48L3N2Zz4=');
	width: $arrow-circle-left-width;
	height: $arrow-circle-left-height;
	@extend %svg-common-style;
}
%svg-common-style {
	background-repeat: no-repeat;
}

$arrow-circle-right-width: 21px;
$arrow-circle-right-height: 21px;

.svg-arrow-circle-right {
	background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIxcHgiIGhlaWdodD0iMjFweCIgdmlld0JveD0iMCAwIDQwMCA0MDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KCTxjaXJjbGUgZmlsbD0iI0VCRUJFQiIgZmlsbC1vcGFjaXR5PSIxIiBjeD0iMTk5Ljc4MiIgY3k9IjIwMC40NTMiIHI9IjIwMCI+PC9jaXJjbGU+DQoJPHBvbHlnb24gZmlsbD0iIzY2NiIgcG9pbnRzPSIzMDEuNzU1LDIwMC40MjcgMTY2Ljk3NCw2NS42NDYgMTMxLjgxLDEwMC44MTEgMjMxLjQ1MSwyMDAuNDUzIDEzMS44MDksMzAwLjA5NiAxNjYuOTczLDMzNS4yNTkgMzAxLjc1NSwyMDAuNDc4IDMwMS43MjksMjAwLjQ1MyAiPjwvcG9seWdvbj4NCjwvc3ZnPg==');
	width: $arrow-circle-right-width;
	height: $arrow-circle-right-height;
	@extend %svg-common-style;
}